<div class="container my-4 d-flex justify-content-center">
    <input #text class="w-200 form-control" name="filter" type="text" placeholder="Type pokemon name" [(ngModel)]="filter">
</div>
<div class="position relative">
    <div class="float-md-end position-fixed bottom-0 end-0 my-4 mx-4">
       <a class="btn btn-primary" routerLink="/addPokemon"><i class="bi bi-plus-lg"></i></a>
    </div>
</div>
<div class="container d-flex my-4 justify-content-center">
    <div class="row">
        <div class="col" *ngFor="let pokemon of (data | pokepipe:filter)">
            <app-card [data]="pokemon"></app-card>
        </div>
    </div>
</div>
