<div class="my-4 container">
<a routerLink="/" class="btn btn-primary">
    <i class="bi bi-arrow-left"></i>
</a>
</div>
<div class="container border border-secondary my-4 bg-light">
    <form class="m-auto w-50">
        <div class="my-3 mx-5"><input class="w-3r" type="text" placeholder="Name"/></div>
        <div class="my-3 mx-5"><input class="w-3r" type="text" placeholder="Type"/></div>
        <div class="my-3 mx-5"><input class="w-3r" type="text" placeholder="Image Link"/></div>
        <div class="my-3 mx-5">
            <label for="Move">Ability</label>
            <select class="w-2r">
                <option value="">Opción 1</option>
            </select>
        </div>
        <div class="my-3 mx-5">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
